# Ignore generated data
/docs/
/lib/
/packages/

# Ignore all bin files
/bin/*
!/bin/.keep

# Ignore MacOS files
.DS_Store

# Ignore spectator's failing-example cache
/.spectator-failures

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock
